.video_gallery_container{
    padding: 125px 10px;
    /*border solid, 2px*/
    background: white;
    text-align: center;


}

#gallery_vid1 {
}


#gallery_vid2 {
}

#gallery_vid3 {
}
